@import "./common.scss";
@import "./variables.scss";
#app {
  .title {
    @include title-font();
    text-align: center;
    margin: 40px 0;
  }

  .cart-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $dark-gray;
    font-size: 16px;
    .item-container {
      margin: 0 30px;
      width: 70%;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        margin: 10px;
        img {
          height: 100px;
          width: 100px;
          margin: 10px;
        }
        div {
          margin: 10px;
          padding: 10px;
        }
        .delete {
          margin: 10px;
          padding: 10px;
          background-color: pink;
          border-radius: 5px;
        }
      }
    }
    .price-container {
      background-color: #fafafa;
      padding: 20px;
      margin: 0 30px;
      text-align: center;
      div {
        display: flex;
        justify-content: space-between;

        padding: 10px;
        &.total-price {
          border-top: 1px solid #ddd;
        }
      }
      .order {
        display: flex;
        justify-content: center;
        background-color: $primary-color;
        border-radius: 5px;
      }
    }
  }
}
