@import "./common.scss";
@import "./variables.scss";

.cash-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $dark-gray;
  font-size: 16px;
  .info-container {
    margin: 0 30px;

    .item-container {
      border: 1px solid #ddd;
      padding: 10px;
      .tag {
        margin: 12px;
      }
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        img {
          height: 100px;
          width: 100px;
          margin: 10px;
        }
        div {
          margin: 10px;
          padding: 10px;
        }
      }
    }
    .userInfo-container {
      padding: 10px;
      border: 1px solid #ddd;
      div {
        display: flex;
        justify-content: space-between;
        margin: 6px;
      }
      .tag {
        margin: 12px;
      }
    }
    .card-container {
      border: 1px solid #ddd;
      padding: 10px;
      .tag {
        margin: 12px;
      }
      .swiper {
        margin: 20px;
        border: 1px solid #ddd;
        .swiper-wrapper {
          display: flex;
          justify-content: space-between;
          margin: 10px;
          .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ddd;
            padding: 10px;
            div {
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .price-container {
    background-color: #fafafa;
    padding: 18px;
    margin: 0 20px;
    text-align: center;
    div {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      &.total-price {
        border-top: 1px solid #ddd;
      }
    }
    .cash-button {
      display: flex;
      justify-content: center;
      background-color: $primary-color;
      border-radius: 5px;
    }
  }
}
