@import "./common.scss";
@import "./variables.scss";


#wrap {
  max-width: 100vw;
  overflow: hidden;

  header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid $light-gray;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $max-width;
      margin: 0 auto;
      padding: 20px;
  
  
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 600;
  
        img {
          width: 30px;
        }
      }//a
  
      nav {
        ul {
          display: flex;
          gap: 40px;
  
          li a {
            display: block;
            color: $dark-gray;
            font-size: 15px;
            transition: .2s;

            &:hover {
              color: $primary-color
            }
          }
        }
      }
  
      .side {
        display: flex;
        align-items: center;
        gap: 20px;

        form {
          display: flex;
          align-items: center;
          margin-right: 20px;
    
          input {
            width: 150px;
          }
    
          button {
            font-size: 20px;
          }
        }

        >span {
          font-size: 24px;
          color: #222;
          cursor: pointer;
        }
      }
    }//.container
  }//header
  
  .visual {
    
    .swiper-wrapper {

      .swiper-slide {
        width: 100vw;
        min-height: 90vh;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-image: url(./../images/main_visual.jpg);
        
        @for $i from 1 through 4 {
          // &:nth-child(#{$i}) {background-image: url('../images/main_visual#{$i}.jpg');}
        }
      }
    }
  }
  
  section {
    width: $max-width;
    margin: 0 auto;

    h2 {
      @include title-font();
      text-align: center;
      margin: 100px 0;
    }

    .new-items {
      text-align: center;

      .swiper {

        .swiper-wrapper {

          .swiper-slide {
            width: 380px;
            padding: 15px;
            background-color: $light-gray;
            border-radius: 4px;

            .thumbnail {
              width: 100%;
              height: 200px;
              margin-bottom: 10px;
              background-size: cover;
              background-position: center;
            }//.thumbnail

            h3 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: $dark-gray;
              font-size: 1.1em;
              text-align: left;
              font-family: 'Pretendard-Regular';
              cursor: default;
            }
          }//.swiper-slide
        }//.swiper-wrapper

        .swiper-button-prev, .swiper-button-next {
          color: $dark-gray;
        }
      }//.swiper
    }//.new-items

    .recommand {
      display: flex;
      flex-direction: column;
      margin: 150px 0;


      .recommand-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px;
        gap: 40px;
        width: 70%;
        margin-bottom: 100px;
        
        &.reverse {
          align-self: flex-end;
          img {
            order: 1;
          }
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .desc {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding: 30px 0;

          h3 {
            font-size: 32px;
            font-weight: 600;
          }

          p {
            font-size: 18px;
            line-height: 1.4;
            font-weight: 600;
            word-break: keep-all;
          }

          button {
            width: max-content;
            margin-left: 75%;
          }
        }
      }//.recommand-item
    }//.recommand
  }//section

  footer {
    padding: 40px;
    border-top: 1px solid $light-gray;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;

      img {
        display: block;
        width: 50px;
        height: 50px;
      }
    }

    address {
      text-align: center;
    }
  }//footer

}//#wrap