@import "variables";
@import "common";
.sold-product-page {
  width: 100%;
  height: 100%;
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    @include title-font;
    text-align: center;
  }
  .sold-title {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    .sold-product-name {
      font-size: 18px;
      max-width: 480px;
    }
    .sold-product-sold-date {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .sold-product-price {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .sold-product-sold {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .sold-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    .sold-product {
      display: grid;
      grid-template-columns: 2fr repeat(3, 1fr);
      align-items: center;
      width: 100%;
      border: 1px solid $light-gray;
      border-radius: 15px;
      padding: 15px;
      transition: 0.3s ease;
      &:hover {
        background-color: $light-gray;
      }
    }
    .sold-product-name {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
    }
    .sold-product-sold-date {
      font-size: 18px;
    }
    .sold-product-price {
      font-size: 18px;
      color: $dark-gray;
    }
  }
  .sold-product-sold {
    width: fit-content;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: $dark-gray;
    background-color: $light-gray;
    padding: 9px;
    border-radius: 5px;
    .product-sold-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      &.sold {
        background-color: #2ecc71;
      }
      &.sale {
        background-color: #e74c3c;
      }
    }
  }
}

.sold-product-detail {
  position: absolute;
  top: 50%;
  right: 0;
}
