@import "common";
@import "variables.scss";

.add-product-page {
  h1 {
    @include title-font;
    text-align: center;
  }
  .add-product-form-wrapper {
    width: 100%;
    max-width: $max-width;
    height: 80vh;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    .add-product-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 20px;
      border: 1px solid $light-gray;
      border-radius: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
      flex-grow: 2;
      position: relative;
      .add-product-form-title {
        @include title-font;
        font-size: 27px;
        margin-bottom: 20px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .form-input-wrapper {
        width: 100%;
        height: 50%;
        display: flex;
        gap: 20px;
        align-items: center;
      }
      .form-input-title,
      .form-input-tags,
      .form-input-price,
      .form-input-description {
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
      }
      .form-input-img {
        width: 60%;
        height: 100px;
        margin-bottom: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-around;
        align-items: center;
        top: 100px;
        transform: translateX(20%);
        img {
          position: absolute;
          left: 70%;
          border-radius: 15px;
          width: 200px;
        }

        .form-input-img__detail,
        .form-input-img__thumbnail {
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 15px;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: 700;
            color: $primary-color;
          }
        }
        input[type="file"] {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          border-bottom: none;
        }
      }
    }
    .form-input-tags {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      select {
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 20px;
        font-weight: 700;
        border: none;
        padding: 10px;
        option {
          font-size: 20px;
          font-weight: 700;
          &:focus {
            outline: none;
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
.form-input-tags__input {
  padding: 20px;
  width: 90%;
  min-height: fit-content;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid $light-gray;
  position: relative;
  h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $primary-color;
    position: absolute;
    bottom: -40px;
  }
  .tags__show {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .tag {
      border-radius: 10px;
      background-color: $dark-gray;
      color: $light-gray;
      padding: 9px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.show-product {
  width: 55%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
  .show-product-img {
    width: 90%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: scroll;
    position: absolute;
    top: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .show-product-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin-top: 200px;
  }
  .show-product-tags {
    font-size: 15px;
  }
  .show-product-price {
    font-size: 15px;
  }
  .show-product-description {
    font-size: 15px;
  }
  button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .show-product-submit-btn {
    bottom: 80px;
    width: 60%;
    height: 70px;
  }
}
