@import "common";
@import "variables.scss";

.loading.loading--master {
  position: absolute;
  top: 50%;
  left: 50%;
}

.master-page {
  width: 100%;
  gap: 30px;
  min-height: 100%;
  margin-bottom: 80px;
  padding: 10px;
  .master-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
  }
  h1 {
    @include title-font;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 2;
    text-align: center;
  }
  position: relative;
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    .product {
      width: 300px;
      flex-grow: 1;
      display: flex;
      cursor: pointer;
      .product-wrapper {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
        overflow: hidden;
        div {
          width: 100%;
          height: 20%;
          display: flex;
          color: $light-gray;
          background-color: $dark-gray;
          justify-content: center;
          align-items: center;
          transform: translateY(100%);
          opacity: 0;
          transition: 0.3s ease;
        }
        &:hover {
          div {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.master-footer {
  position: absolute;
  bottom: -16%;
  left: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  .btn-container {
    display: flex;
    gap: 20px;
  }
}

.page-nation {
  display: flex;
  gap: 20px;
  .page-nation-btn {
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $dark-gray;
      color: $light-gray;
    }
    &.active {
      background-color: $dark-gray;
      color: $light-gray;
    }
  }
}

.skeleton.master-page-loading {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .skeleton__header {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    @include skeleton;
  }
  .skeleton__body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    .content {
      border-radius: 5px;
      @include skeleton;
    }
  }
}
