@import "variables";
@import "common";

body {
  overflow-x: hidden;
}

.sold-product-page {
  width: 100%;
  height: 100%;
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    @include title-font;
    text-align: center;
  }
  .sold-title {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    .sold-product-name {
      font-size: 18px;
      max-width: 480px;
    }
    .sold-product-sold-date {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .sold-product-price {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .sold-product-sold {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .sold-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    position: relative;
    .page-nation {
      left: 0;
    }
    .sold-product {
      display: grid;
      grid-template-columns: 2fr repeat(3, 1fr);
      align-items: center;
      width: 100%;
      border: 1px solid $light-gray;
      border-radius: 15px;
      padding: 15px;
      transition: 0.3s ease;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: $light-gray;
      }
    }
    .sold-product-name {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
    }
    .sold-product-sold-date {
      font-size: 18px;
    }
    .sold-product-price {
      font-size: 18px;
      color: $dark-gray;
    }
  }
}

.sold-product-sold {
  width: fit-content;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: $dark-gray;
  background-color: $light-gray;
  padding: 9px;
  border-radius: 5px;
  .product-sold-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    &.sold {
      background-color: #2ecc71;
    }
    &.sale {
      background-color: #e74c3c;
    }
  }
}

.sold-product-detail {
  position: absolute;
  top: 10%;
  right: 0;
  background-color: #fff;
  width: 600px;
  height: 750px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  transform: translateX(100%);
  transition: 0.3s ease;
  &.active {
    transform: translateX(0);
  }
  .detail-title {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-position: center center;
    align-items: flex-end;
    padding: 20px;
    position: relative;
    .detail-close {
      position: absolute;
      top: 0;
      right: 20px;
      cursor: pointer;
      font-size: 35px;
      color: #e74c3c;
      font-weight: 700;
    }
    .detail-title-title {
      font-size: 24px;
      font-weight: 600;
      position: absolute;
      bottom: -60px;
      line-break: auto;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
    }
  }
  .detail-data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 30px;
    margin-top: 80px;
    .detail-date,
    .detail-customer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 600;
      }
    }
  }
  .detail-product {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 30px;
    .detail-product-price,
    .detail-product-tags {
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 600;
      }
      div {
        display: flex;
        gap: 8px;
        span {
          padding: 5px;
          border-radius: 5px;
          background-color: $light-gray;
        }
      }
    }
  }
  .detail-payment {
    margin-top: 20px;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    background-color: $light-gray;
    padding: 10px;
    border-radius: 10px;
    span {
      font-weight: 600;
      display: flex;
      align-items: center;
    }
    .detail-payment-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: 600;
    }
  }
  .detail-sold {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 30px;
    margin-top: 30px;
    font-weight: 600;
    .detail-sold-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        transition: 0.3s ease;
        &.sold {
          background-color: #2ecc71;
          color: #fff;
          &:hover {
            background-color: #27ae60;
          }
        }
        &.sale {
          background-color: #e74c3c;
          color: #fff;
          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  }
  .detail-warn-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .force-confirm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      padding: 8px;
      border-radius: 10px;
      transition: 0.3s ease;
      background-color: #e74c3c;
      color: #fff;
      &:hover {
        background-color: #c0392b;
      }
    }
  }
}
