@import "common";
@import "variables.scss";

$img: 100px;
$profileHeight: 130px;
$padding: 20px;
$margin: 5px;
$productInfoheight: 41px;
$gap: 10px;
@mixin backgroundImgCenter {
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
};
@mixin liStyle {
  box-shadow: 1px 1px 15px 3px $light-gray;
  border-radius: 5px;
  margin-bottom: 20px;
};

.myPage {
  display: grid;
  grid-template-columns: 1fr 4fr;
  .leftSideMenu {
    width: calc($max-width/5);
    display: flex;
    flex-direction: column;
    gap: 180px;
    padding: $padding;
    border-right: 1px solid $light-gray;
    .profile{
      width: calc($max-width/5 - $padding*2);
      height: $profileHeight;
      background-color: $primary-color;
      border-radius: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__list{
        position: absolute;
        z-index: 1;
        top: calc($profileHeight - $img/2);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        &--img{
          width: $img;
          height: $img;
          border-radius: 50%;
          background-image: url('../images/profile_alternate_img.svg');
          @include backgroundImgCenter;
        }
        &--displayName{
          font-size: 24px;
          font-weight: 900;
        }
        // &--email{

        // }
      }
    }
    .myPageBtns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .myPageSummary {
        display: flex;
        gap: 10px;
        &__btns {
          border: 1px solid $light-gray;
          border-radius: 5px;
          padding: 10px 15px;
          width: calc(($max-width/5 - $padding*2 - 10px)/2);
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 14px;
          &__name {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          &__value {
            display: flex;
            justify-content: end;
            font-weight: 900;
            cursor: pointer;
          }
        }
      }
      &__link {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          background-color: $light-gray;
        }
      }
    }
  }
  article{
    padding: $padding;
    h1 {
      display: flex;
      align-items: center;
      padding: $padding;
      height: $profileHeight;
      font-weight: 900;
      font-size: 32px;
    }

    >h2 {
      padding-top: 20px;
      font-weight: 900;
      font-size: 32px;
      text-indent: 20px;
    }
    >p {
      padding: $padding;
      color: $primary-color;
      font-weight: 600;
    }

    .buyList {
      margin: $margin;
      .buyItemLi {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
        gap: 20px;
        padding: $padding;
        @include liStyle;
        cursor: pointer;
        &__state {
          grid-column: 1 / 3;
          color: $primary-color;
          font-weight: 900;
          display: grid;
          align-items: center;
        }
        &__thumbnail {
          @include backgroundImgCenter;
          background-image: url('../images/product_alternate_img.svg');
          border-radius: 3px;
        }
        &__summary {
          display: grid;
          grid-template-rows: repeat(4, 1fr);
          &__timePaid {
            color: $primary-color;
          }
          &__title {
            font-weight: 900;
          }
          &__price {
            font-weight: 900;
          }
          &__btns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
          }
        }
      }
    }
    .accountList {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .accountLi {
        display: grid;
        width: calc((1136px - $padding*2 - $margin*2 - 40px)/3);
        grid-template-columns: 35px repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        @include liStyle;
        padding: $padding;
        column-gap: 10px;
        row-gap: 5px;
        cursor: pointer;
        &__logo {
          grid-row: 1 / 3;
        }
        &__bankName {
          font-weight: 900;
          // display: grid;
          // align-items: end;
        }
        &__accountNumber {
          // display: grid;
          // align-items: start;
          color: $primary-color;
          font-size: 14px;
        }
        &__balance {
          grid-column: 3 / 4;
          grid-row: 1 / 3;
          display: grid;
          justify-content: end;
          font-weight: 900;
        }
      }
      .addAccountBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: calc((1136px - $padding*2 - $margin*2 - 40px)/3);
        @include liStyle;
        font-weight: 900;
        opacity: 0.8;
        cursor: pointer;
      }
    }
    .header {
      border-bottom: 1px solid black;
      font-size: 20px;
      padding-bottom: $padding;
    }
    .info {
      margin: $margin;
    }
    .productInfo {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: $productInfoheight repeat(4, calc($productInfoheight/4*3));
      padding: $padding;
      align-items: center;
      @include liStyle;
      font-size: 16px;
      gap: $gap;
      cursor: pointer;
      .header {
        grid-column: 1 / 3;
        height: min-content;
      }
      .backgroundimg {
        @include backgroundImgCenter;
        background-image: url('../images/product_alternate_img.svg');
        border-radius: 3px;
        background-color: #fff;
      }
      &__img {
        grid-row: 2 / 6;
        display: grid;
        justify-content: center;
        height: calc($productInfoheight*3 + $gap*3);
        width: auto;
        border-radius: 3px;
      }
      &__state {
        font-weight: 900;
        color: $primary-color;
      }
      &__title {
        font-weight: 900;
      }
      &__price {
        font-weight: 900;
      }
      &__button {
        display: grid;
        grid-template-columns: 1fr;
        &__btns {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
        }
      }
    }
    .ordererInfo {
      @include liStyle;
      padding: $padding;
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        margin-right: 30px;
        color: $primary-color;
      }
    }
    .paymentInfo {
      @include liStyle;
      padding: $padding;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2fr repeat(3, 1fr);
      align-items: center;
      gap: 3px;
      .header {
        grid-column: 1 / 3;
        margin-bottom: 10px;
      }
      &__way {
        grid-column: 1 / 3;
        //margin-bottom: 10px;
      }
      &__timePaid {
        //margin-bottom: 10px;
        display: grid;
        align-self: start;
        color: $primary-color;
      }
      &__bankName {
        display: grid;
        align-self: end;
        font-weight: 900;
      }
      &__accountNumber {
        display: grid;
        align-self: start;
        color: $primary-color;
      }
      &__price {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: grid;
        align-self: end;
        font-weight: 900;
      }
    }

    .my-profile {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 30px;
      width: 650px;
      margin: 0px auto;

      padding: 35px 0px;

      .edit-image {
        width: 200px;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
      }//.edit-image
      
      .edit-image--btns {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        input {display: none;}

        .edit-btn {
          display: block;
          font-family: "Pretendard-Regular";
          font-size: 14px;
          text-align: center;
          transition: 0.2s;
          cursor: pointer;
          
          &.edit {
            padding: 8px;
            width: 180px;
            color: #fff;
            background-color: $dark-gray;
            border-radius: 3px;
            
            &:hover {
              background-color: darken($dark-gray, 5%);
            }
          }

          &.del {
            color: $dark-gray;
            text-decoration: underline;
          }
        }//.edit-btn
      }//.edit-image--btns

      .edit-name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info {
          cursor: default;

          .info--display-name {
            font-size: 28px;
            font-weight: 600;
            line-height: 2;

            &:focus {
              border-bottom: 1px solid #222;
            }
          }

          .info--email {
            color: lightgray;
            font-size: 18px;
          }
        }

        .edit-name--btn {
          display: flex;
          align-items: center;
          color: $primary-color;
          font-size: 14px;
          cursor: pointer;
          
          .icon {
            font-size: 15px;
          }
        }//.edit-name--btn
      }//.edit-name
    }//.my-profile

    .edit-password {
      width: 800px;
      margin: 20px auto;
      border-top: 1px solid $light-gray;

      h3 {
        margin: 25px;
        font-size: 20px;
        font-weight: 600;
        line-height: 2;
        text-align: center;
      }

      .edit-password--input {

        .input-password {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          padding: 15px 0;

          // &.origin {
          //   margin-bottom: 10px;
          //   padding-bottom: 32px;
          //   border-bottom: 1px solid $light-gray;
          // }

          label {
            display: flex;
            align-items: center;

            span {
              display: block;
              width: 110px;
              margin-right: 10px;
              text-align: right;
            }

            input {
              width: 220px;
            }
          }
          
          .message {
            display: block;
            width: 220px;
            color: lightgray;
            font-size: 13px;

            &.warn {
              color: $soft-red;
            }

            &.complete {
              color: $soft-green;
            }
          }
        }//.input-password
      }//.edit-password--input

      .submit-password-btns {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 20px;
      }
    }//.edit-password
  }  
}