@import "./common.scss";
@import "./variables.scss";

#app {
  min-height: 100vh;

  .container.product-detail-page {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
    width: $max-width;

    .main {

      img {
        display: block;
        width: 100%;
        border-radius: 5px;

        &.thumbnail {
          max-height: calc(100vh -  80px);
          object-fit: cover;
          object-position: center;
        }
      }

      .description {
        padding: 50px 10px;
        font-size: 22px;
        line-height: 1.5;
        word-break: keep-all;
      }
    }//.main

    .side {

      .card {
        position: sticky;
        top: 85px;
        padding: 25px;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
        border: 1px solid $light-gray;
        border-radius: 5px;
        cursor: default;

        h3 {
          font-size: 22px;
          font-weight: 600;
          line-height: 1.5;
        }

        .price {
          color: $primary-color;
          font-size: 20px;
          line-height: 2;
        }

        .line {
          display: block;
          margin: 10px 0 30px;
          width: 100%;
          height: 1px;
          background-color: $light-gray;
        }

        .category-card {
          display: flex;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            color: $primary-color;
            border: 1px solid $light-gray;
          }

          >div {
            padding: 5px 10px;

            span {
              display: block;

              &.category-title {
                font-weight: 600;
                margin-bottom: 5px;
              }
            }
          }
        }//.category-card

        .tag {
          margin: 15px 0;
          .tag-title {
            font-weight: 600;
            line-height: 2;
          }

          .tags {
            display: flex;

            span {
              display: block;
              margin: 8px 5px 0;
              padding: 5px 20px;
              color: $primary-color;
              background-color: $light-gray;
              border-radius: 10px;
            }
          }
        }//.tag

        .buy-product {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          margin-top: 50px;
          
          &.soldout {
            grid-template-columns: 1fr;

            button {
              &.buy-now {display: none;}
              &.cart {display: none;}
              &.soldout-btn {
                display: block;
              }
            }
          }

          button {
            padding: 14px 20px;

            &.soldout-btn {
              display: none;
            }
          }
        }
      }//.card
    }//.side
  }//.container

  .recommend {
    width: $max-width;
    margin: 100px auto 30px;
    padding: 20px;

    h2 {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 22px;
    }

    .swiper {

      .swiper-wrapper {
        gap: 20px;

        .swiper-slide {
          width: 380px;
          cursor: pointer;
          
          &:hover .thumbnail {
            transition: .5s;
            background-size: 105%;
          }

          .thumbnail {
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
            background-size: 100%;
            background-position: center;
          }//.thumbnail

          .desc {

            .tags {
              display: flex;
              flex-direction: row;
              gap: 8px;

              span {
                display: block;
                padding: 2px 4px;

                color: #fff;
                background-color: $primary-color;
                cursor: default;
              }
            }

            h3 {
              margin: 10px 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-family: 'Pretendard-Regular';
              font-weight: 600;
              cursor: pointer;
            }

            .price {
              color: $dark-gray;
            }
          }
        }//.swiper-slide
      }//.swiper-wrapper

      .swiper-button-prev, .swiper-button-next {
        color: $dark-gray;
      }

    }//.swiper
  } //.recommend

  .modal-bg {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.05);
    backdrop-filter: blur(2px);
    z-index: 20;

    &.show {
      display: flex;
    }

    .modal {
      padding: 30px 40px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.5);

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px;
        width: 100px;
        height: 100px;
        background-color: lighten($light-gray, 5%);
        border-radius: 50%;

        span {
          display: block;
          font-size: 40px;
          color: $primary-color;
          cursor: default;
        }

        .already-in-icon {
          display: none;
        }

        &.already-in {

          .cart-icon {
            display: none;
          }

          .already-in-icon {
            display: block;
          }
        }
      }//.icon

      h2 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-gray;
      }

      .btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;

        button {
          width: 100%;
        }
      }
    }//.modal
  }//.modal-bg
}//#app