@import "./common", "./variables";

#app {
.signup-container {
.right {
	display: grid;
	grid-template-rows: 0.5fr auto;
	gap: 5%;
	align-items: center;
	justify-content: center;
	h3 {
		text-align: center;
		padding-top: 50px;
	}
	h5 {
		color: #E4E6E8;
		text-align: center;
		font-size: 10px;
	}
	a {
		text-decoration: none;
		color: #E4E6E8;
	}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: #E4E6E8;
	border: 0;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	&:focus {
		outline: 0;
	}
	&:active {
		transform: scale(0.98);
	}
}
.text {
	margin-top: 30px;
}

.pwtext {
	color: #E4E6E8;
	font-size: 13px;
	font-weight: bold;
}
.pwtext.active {
		color: #52E037;
	}
.confirm-pwtext {
	color: #E4E6E8;
	font-size: 13px;
	font-weight: bold;
}
.confirm-pwtext.success {
	color: #52E037;
}
.confirm-pwtext.active {
	color:red;
}



.form-control {
	position: relative;
	margin: 20px 0 20px 0;
	width: 300px;
	input {
		background-color: transparent;
		border: 2px #E4E6E8 solid;
		display: block;
		width: 100%;
		padding: 10px 20px;
		font-size: 15px;
		color: black;
	}
	label {
		color: #E4E6E8;
		position: absolute;
		top: 15px;
		left: 20px;
		span {
			display: inline-block;
			font-size: 12px;
			min-width: 2px;
			transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				}
			}
		}
	}
}
.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: #E4E6E8;
}
.form-control input:focus + label span,
.form-control input:valid + label span {
	color: #E4E6E8;
	transform: translateY(-30px);
}
}