/* 변수 */

// 페이지의 최대너비지정
$max-width: 1420px; 

// 테마색상
$dark-gray: #292C43;
$primary-color: #8083A3;
$light-gray: #E4E6E8;

//폰트크기
@mixin title-font {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}


/* 디자인 */

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  
  // 기본버튼
  &.common-btn {
    padding: 8px 20px;
    font-family: 'Pretendard-Regular';
    background-color: $light-gray;
    border-radius: 3px;
    transition: .2s;

    &:hover {
      background-color: darken($light-gray, 5%);
    }
  }

  // 진한 버튼
  &.darken-btn {
    padding: 8px 20px;
    font-family: 'Pretendard-Regular';
    color: #fff;
    background-color: $primary-color;
    border-radius: 3px;
    transition: .2s;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}
