@import "./common", "./variables";


@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
.container {
  display: flex;
	padding: 50px 40px;
	border-radius: 5px;
  .left {
  padding: 0 50px;
    img {
    background-image: url("../images/chairs.jpeg");
		border-radius: 5px;
    width: 350px;
    height: 100%;
  }
  }
.right {
	margin: 50px 0 0 0;
	h3 {
		text-align: center;
		margin-bottom: 20px;
		// font-size: 30px;
	}
	h5 {
		color: #E4E6E8;
		text-align: center;
		font-size: 10px;
		margin-bottom: 40px;
	}
	a {
		text-decoration: none;
		color: #E4E6E8;
	}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: #E4E6E8;
	border: 0;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	&:focus {
		outline: 0;
	}
	&:active {
		transform: scale(0.98);
	}
}
.text {
	margin-top: 30px;
}
}
.form-control {
	position: relative;
	margin: 20px 0 20px 0;
	width: 300px;
	input {
		background-color: transparent;
		border: 2px #E4E6E8 solid;
		display: block;
		width: 100%;
		padding: 10px 20px;
		font-size: 15px;
		color: black;
	}
	label {
		color: #E4E6E8;
		position: absolute;
		top: 15px;
		left: 20px;
		span {
			display: inline-block;
			font-size: 12px;
			min-width: 2px;
			transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
}
}
.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: #E4E6E8;
}
.form-control input:focus + label span,
.form-control input:valid + label span {
	color: #E4E6E8;
	transform: translateY(-30px);
} 
}


